// reduce padding for small screens
@include media-breakpoint-down(md) {
  .td-main {
    main {
      padding-top: 1rem;
    }
  }
}

// increase 80% content width limit for large screens
.td-max-width-on-larger-screens {
  @include media-breakpoint-up(lg) {
    max-width: 90%;
  }
}

// add border below search on small devices
@include media-breakpoint-down(md) {
  .td-sidebar {
    border-bottom: 0.1rem solid $border-color;
  }
}

footer {
  padding: 0px 20%;
  min-height: auto;

  p {
    margin-bottom: 0.4rem;
    line-height: 1.0rem;
  }

  small {
    font-size: 0.8rem;
  }
}

/* Custom */

a:-webkit-any-link {
  text-decoration: none;
}

#td-cover-block-0 {
  min-height: unset;
}

#cover-text {
  padding-left: 5%;
  padding-right: 5%;
}

.text-center > .td-cover-block {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.td-block-padding, .td-default main section {
  padding: 3rem 12%;
  text-align: left;
}

.td-box .row {
  padding-left: 0vw;
  padding-right: 0vw;
}

#wicsp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#wicsp-box-0 {
  flex: 1 1 55%;
  padding-right: 25px;
}

#wicsp-box-1 {
  flex: 1 1 44%;
}

/* Slideshow */

.slide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 7s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* Feedback */

.feedback--title {
  margin-top: 30px;
}
